body {
  margin: 0;
  text-align: center;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color:  #EAF6F6;
  border-width: 5px;
  width: 5%
}
h1 {
  margin: 0 auto 0 auto;
  color: #66BFBF;
  font-family: 'Tangerine', cursive;
  font-size: 90px;
  width: 500px;
  margin: 50px auto 0 auto;
  line-height: 2;
}
h2 {
  color: #377D71;
  margin-top: 0px;
  font-weight: normal;
}
h3 {
  font-family: Roboto;
  font-size: 30px;
  color: #11999E;
}
a {
  color: #11999E;
  text-decoration: none;
  font-family: Roboto;
  margin: 0 10px 0 10px;
}
p {
  color: #40514E;
  margin: 0 25%;
  font-size: 20px;
  font-weight: bold;
}
.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}
.footer-name {
  color: #EAF6F6;
  margin-top: 25px;
}
.middle-container {
  background-color: white;
  padding-top: 50px;
}
.name {
  display: block;
}
.navbar {
  background-color: #EAF6F6;
}
.profile {
  width: 50%;
  margin: 0 25% 0 25%;
}
.skillpic1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skillpic2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.start {
  font-size: 2.5rem;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.top-container {
  background-color: #EAF6F6;
  padding: 50px;
  position: relative;
}
